<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">flickrApp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <form name="photosForm" class="navbar-form navbar-left">
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input ng-model="searchForm.tags" validator="required, tags" no-validation-message="true" type="text" class="form-control" placeholder="e.g: landscape,dog,house" required>
                </div>
                <div class="form-group">
                    <label for="tags">User id (optional)</label>
                    <input ng-model="searchForm.userId" type="text" no-validation-message="true" class="form-control" placeholder="e.g: 144720900@N04">
                </div>
                <button type="submit" validation-submit="photosForm" ng-click="searchPhotos()" class="btn btn-primary">Search</button>
                <button type="button" validation-reset="photosForm" ng-click="clearForm()" class="btn btn-danger">Clear</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div ui-view></div>
</div>
<!-- /.container -->
