<div class="row">
    <div class="col-md-12">
        <p ng-show="photos.length">
            Showing photos for <strong>{{tags}}</strong> by <strong>{{userId}}</strong>
        </p>
        <p ng-show="!photos.length" class="warning-message bg-warning">
            No photos found for <strong>{{tags}}</strong> by <strong>{{userId}}</strong> :(
        </p>

        <div class="">
            <div class="photo-card only-image"
                dir-paginate="photo in photos | itemsPerPage: pagination.itemsPerPage"
                total-items="pagination.total"
                current-page="pagination.currentPage">

                <div class="image-wrapper">
                    <img ng-src="{{photo.url_q}}" alt="{{photo.title}}" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
</div>
