<div class="row">
    <div class="col-md-12">
        <div ng-show="!photo.id" class="warning-message bg-warning">
            No photos were found for {{tags}} :(
        </div>
        <div>
            <h4>Your saved photos</h4>
            <div class="">
                <label for="sortOrder">Sort by </label>
                <select name="sortOrder" ng-model="sortOrder.selected" ng-options="option.value as option.name for option in sortOrder.options">
                </select>
            </div>

            <div ng-repeat="photo in savedPhotos | orderBy: sortOrder.selected track by $index" ui-sref="app.photos.list({tags: tags, userId: photo.owner})" class="photo-card">
                <div class="image-wrapper">
                    <img ng-src="{{photo.url_q}}" alt="{{photo.title}}" />
                </div>
                <div class="info-wrapper">
                    <div class="">
                        <strong>{{photo.title}} <span class="author">by {{photo.owner}}</span></strong>
                    </div>
                    <div class="">
                        Taken: {{photo.datetaken | date: 'longDate'}}
                    </div>
                    <div class="">
                        Uploaded: {{photo.dateupload | date: 'longDate'}}
                    </div>
                    <div class="views">
                        {{photo.views}} views
                    </div>
                </div>
            </div>
        </div>
    </div>
